# Python virtual environments & bytecode
.venv/
__pycache__/
*.pyc

# Data and Model binaries tracked by DVC (do not commit raw files to Git)
/data/
/models/

# MLflow experiment tracking storage (do not commit to Git)
mlruns/
.mlflow/

# OS specific files
.DS_Store
Thumbs.db
